/vendor
/node_modules
.env
/config/wechat.php
/storage

/public/plugins
/public/uploads
/public/videojs
/public/ueditor
/public/semantic/
/public/simplemde
/public/assets
/public/build
/resources/assets

.DS_Store
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
